body {
    background-color: rgba(254, 252, 255, 1.0);
    color: rgba(17, 17, 17, 1.0);
}
.sidebar {
    float: right;
    width: 30%;
    border-left: 2px solid rgba(0, 0, 0, 0.1);
    padding-left: 25px;
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 40px;
}
h1.main-hed {
    font-family: Georgia, serif;
    font-size: 60px;
    line-height: 63px;
    margin-bottom: 17px;
}
h2.sub-hed {
    font-family: Georgia, serif;
    font-size: 36px;
    font-style: italic;
    margin-bottom: 30px;
    line-height: 32px;
}
p.graphic-hed {
    font-family: Georgia, serif;
    font-size: 36px;
    line-height: 34px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    margin-bottom: -12px;
}
p.graphic-intro {
    font-size: 18px;
    line-height: 19px;
}
p {
    font-family: Georgia, serif;
    font-size: 20px;
    letter-spacing: .4px;
}
p.byline {
    font-family: Georgia, serif;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}
p.cutline {
	font-family: Georgia, serif;
	font-size: 15px;
	line-height: 19px;
}
p.section-hed {
    font-size: 19px;
    font-weight: bold;
    line-height: 25px;
    margin-top: 45px;
    margin-bottom: -1px;
}
p.sidebar-hed {
    font-size: 36px;
    line-height: 36px;
}
p.sidebar-text {
	font-family: Georgia, serif;
	font-size: 18px;
	line-height: 24px;
}
p.victim-text {
    font-family: Georgia, serif;
    font-size: 17px;
    line-height: 24px;
    font-style: italic;
}
p.image-topper {
	font-family: Georgia, serif;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 4px;
}
p.source {
    font-size: 13px;
    font-style: italic;
    text-align: right;
}
p.chart-note {
    font-size: 13px;
    line-height: 15px;
}
p.phone-note {
    font-size: 15px;
    font-weight: bold;
    font-style: italic;
    color: red;
    text-align: center;
    line-height: 20px;
    margin: 0px 20px 0px 20px;
}
p.table-title {
    font-family: Georgia, serif;
    font-size: 26px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
}
p.popup {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
}
.top-bar {
    background-color: rgba(254, 252, 255, 1.0);
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

table.simple {
    border-collapse: collapse;
    border: none;
    margin-left: 25px;
    width: 100%;
}
.simple tbody {
    border: none;
}
.simple th.city {
    width: 25%;
}
.simple th.year {
    width: 15%;
}
.simple th {
    border: none;
    border-bottom: 2px black solid;
    text-align: left;
    font-family: Georgia, serif;
    font-size: 16px;
}
.simple td {
    border: none;
    text-align: left;
    font-family: Georgia, serif;
    font-size: 16px;
}
.simple tr {
    border-bottom: 1px rgba(0,0,0,0.1) solid;
}
.simple tr:hover {
    background-color: rgba(0,0,0,0.1);
}


table.homicide {
    float: left;
    width: 22.5%;
	margin: 6px;
	}
thead, tbody, tfoot {
	border: 1px solid rgba(0,0,0,0.1);
	background-color: rgba(254, 252, 255, 1.0);
}
th {
  font-size: 14px;
}
td {
	font-size: 14px;
    text-align: center;
	width: 14%;
}
tbody th, tbody td {
	padding: 2.5px;
	border: 1px solid lightgray;
}
tbody tr:nth-child(even) {
	background-color: inherit;
}
td.homicide-1 {
	background-color: rgba(255,0,0,0.3);
}
td.homicide-2 {
	background-color: rgba(255,0,0,1.0);
}
td.homicide-3 {
	background-color: rgba(255,0,0,1.0);
}
td.homicide-police {
	background-color: rgba(0,0,160,0.3);
}
td.homicide-vehicular {
	background-color: rgba(0,0,0,0.5);
}
img.image-sidebar {
	margin-bottom: 15px;
}
#dot-legend {
    margin-top: -5px;
}
#legend-black { 
    width: 12px; 
    height: 12px; 
    background-color: rgba(0,0,0,0.8); 
    /* border: 1px solid rgba(0,0,0,0.7); */
    display: inline-block;
}
#legend-hispanic { 
    width: 12px; 
    height: 12px; 
    background-color: rgba(0,0,0,0.5);
    display: inline-block;
}
#legend-white { 
    width: 12px; 
    height: 12px; 
    background-color: rgba(0,0,0,0.2);
    display: inline-block;
}
#legend-male { 
    width: 12px; 
    height: 12px; 
    background-color: rgba(0,0,0,0.8); 
    display: inline-block;
}
#legend-female { 
    width: 12px; 
    height: 12px; 
    background-color: rgba(0,0,0,0.5);
    display: inline-block;
}
#legend-gunshot { 
    width: 12px; 
    height: 12px; 
    background-color: rgba(0,0,0,0.9);
    display: inline-block;
}
#legend-stabbing { 
    width: 12px; 
    height: 12px; 
    background-color: rgba(0,0,0,0.7);
    display: inline-block;
}
#legend-pending { 
    width: 12px; 
    height: 12px; 
    background-color: rgba(0,0,0,0.5);
    display: inline-block;
}
#legend-blunt-force { 
    width: 12px; 
    height: 12px; 
    background-color: rgba(0,0,0,0.3);
    display: inline-block;
}
#legend-drowning { 
    width: 12px; 
    height: 12px; 
    background-color: rgba(0,0,0,0.1);
    display: inline-block;
}
canvas {
    margin-top: 20px;
}
#canvas-bar {
    width: 100%;
    margin-top: 0px;
}
#canvas-pie {
    width: 90%;
}
#map {
    height: 500px;
    width: 100%;
}
.icon-manufacturing {
    width: 12px;
    height: 12px;
    /* border-radius: 10px;
    background-color: rgba(140,0,26,0.5);
    border: 1px solid #000; */
}
.icon-pending {
    width: 12px;
    height: 12px;
    /* border-radius: 10px; */
    /* background-color: rgba(0,0,0,1.0); */
    border: 3px solid black;
}
.icon-sharp {
    width: 12px;
    height: 12px;
    /* border-radius: 10px; */
    /* background-color: blue; */
    border: 3px solid blue;
}
.icon-gunshot {
    width: 12px;
    height: 12px;
    /* border-radius: 10px; */
    /* background-color: blue; */
    border: 3px solid red;
}
.icon-blunt {
    width: 12px;
    height: 12px;
    /* border-radius: 10px; */
    /* background-color: blue; */
    border: 3px solid green;
}
.icon-drowning {
    width: 12px;
    height: 12px;
    /* border-radius: 10px; */
    /* background-color: blue; */
    border: 3px solid brown;
}
@media screen and (max-width: 600px) {
    .sidebar {
        float: left;
        width: 90%;
        border-top: 2px solid rgba(0, 0, 0, 0.1);
        border-bottom: 2px solid rgba(0, 0, 0, 0.1);
        border-left: none;
        padding-top: 15px;
        margin-top: 30px;
        margin-bottom: 40px;
        margin-left: 0px;
    }
}
@media screen and (max-width: 475px) {
    #bar-chart {
        visibility: hidden;
    }
}
@media screen and (min-width: 475px) {
    #bar-chart-note {
        visibility: hidden;
    }
}